@model Gestion.domain.Entities.Estudiante

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoPadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoPadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoMadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoMadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Necesidades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Necesidades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intervenciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intervenciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resultados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resultados)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
