@model IEnumerable<Gestion.domain.Entities.Estudiante>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePadre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoPadre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreMadre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoMadre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Necesidades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intervenciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultados)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePadre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoPadre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMadre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoMadre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Necesidades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intervenciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resultados)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
